@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: "Poppins", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

html,
body {
    min-height: 100%;
    min-width: 100%;
}

.login-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    background: linear-gradient(#e66465, #9198e5);

}

.sub-container {
    border: 1px solid red;
    border-radius: 10px;
    padding: 23px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 11px 30px 0 rgba(23, 54, 33, 12);
    font-family: "Poppins", cursive;
    ;
}

#login-page-first-sec-id {
    display: flex;
    flex-direction: column;
}

#id_for-lable_section {
    font-size: 10px;

}

label {
    font-weight: bold;
}