*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.images{
    display: flex;
flex-wrap: wrap;
align-items: center;
gap: 1rem;
margin: 100px auto;

width:60%;
min-height: 70vm;}

.image{
    width:30%;
    height: 30%;
    color:white;
    border-radius: 10px;
    box-shadow: 3px;
    overflow: hidden;
}
.image img{
    display: block;
    width: 100%;
}